<a href="https://colab.research.google.com/github/prachi24cross7/python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
number_list = [1, 2, 4, 3, 5, 6]

total = 0
avg = 0

for num in number_list:
    total += num

avg = total / len(number_list)

print(total)
print(avg)

21
3.5

In [6]:
def compute(number_list):
  total = 0
  avg = 0
  for num in number_list:
    total += num
  avg = total / len(number_list)
  return total, avg


number_list = [1,2,3,4,5,6]
compute(number_list)
compute([10,20,30,40,50,60])

(210, 35.0)

In [8]:
def print_welcome():
  print("********")
  print("Welcome")
  print("********")

print_welcome()

********
Welcome
********

In [15]:
def find_even_odd(num):

  even_num = []
  odd_num = []

  for num in number_list:
    if num % 2 == 0:
      print(num,"Even")
    else:
      print(num,"Odd")

  print("even")
  for num in even_num:
    print(num)

  print("odd")
  for num in odd_num:
    print(num)

number_list = [ 1, 2, 3, 4, 5, 6]
find_even_odd(number_list)

1 Odd
2 Even
3 Odd
4 Even
5 Odd
6 Even
even
odd

In [21]:
def draw_rec(len,bd):
  for i in range(len):
      print("*" * len)


draw_rec(10,5)

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [22]:
def draw_triangle(len):
  for i in range(len):
    print("*" * (i+1))

draw_triangle(10)

*
**
***
****
*****
******
*******
********
*********
**********

In [23]:
def draw_inverted_triangle(len):
  for i in range(len, 0, -1):
    print("*" * i)

draw_inverted_triangle(10)

**********
*********
********
*******
******
*****
****
***
**
*